<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container container-margin">
		<div class="page-header">
			<h1>Inbox</h1>
			
				
			
		</div>

<div id="content" class="row">
	<div class="col-md-12">
		<div id="mailList" class="col-sm-8">
			<div class="form-search search-only">
					<i class="search-icon glyphicon glyphicon-search"></i> 
					<input class="form-control search-query">
			</div>
			<div id="mailListTable" class="panel panel-default">
				<!-- <div class="panel-heading">Panel heading</div> -->
				<table class="table table-hover">
					<thead>
						<tr>
							
							<th>From</th>
							<th>Content</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>

						<tr class="table-tr-pointer" ng-repeat="email in emailList" ng-click="selectMessage(email)">
							
							<td class="col-md-3">
								<strong>
										{{email.from.name+' '+email.from.lastname}}
								</strong>
							
							</td>
							<td>{{email.content}}</td>
							<td class="col-md-2">{{email.date | date: fulldate}}</td>
						</tr>
					
					</tbody>
				</table>
			</div>
		</div>
		<div id="responseSQ" class="col-sm-4">
			<div class="alert alert-warning alert-dissmissable" ng-show="error">
				<div class="alert alert-warning alert-dismissible" role="alert">
  				<button type="button" class="close" aria-label="Close" ng-click="error = ''"><span aria-hidden="true">&times;</span></button>
  				<strong>Ooops!</strong> {{ error }}
			</div>
			</div>
			<form name="chatForm" id="sendMessage" ng-submit="send()">
				<div class="form-group">
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation" class="active" ng-repeat="contact in contacts">{{contact.username}}
							<button type="button" class="close" ng-click="deleteContact(contact)">&times;</button>
						</li>

					</ul>
					<input class="form-control" placeholder="Reply" ng-model="replyBlock">
				</div>
				<div class="form-group">
					<textarea  id="respTextArea"class="form-control" rows="7" ng-model="msg" required></textarea>
				
				</div>
				
				<div class="form-group">
					<button ng-disabled="chatForm.$invalid" type="submit" class="btn btn-primary btn-block">Send
					</button>
				</div>
				
				
			</form>
		</div>
	</div>
	
</div>
</div>