<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container container-margin">
  <div class="row">
    <div class="col-md-push-2 col-md-8 col-sm-push-1 col-sm-10">
      <h1>Login</h1>
      <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test</code> / <code>test</code></p>
      <p>Admin account is <code>admin</code> / <code>admin</code></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-push-2 col-md-8 col-sm-push-1 col-sm-10">
      <form class="form" name="form" ng-submit="login(form)" novalidate>

        <div class="form-group">
          <label>Name</label>

          <input type="name" name="name" class="form-control" ng-model="user.name" required autofocus>
        </div>

        <div class="form-group">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-primary btn-lg btn-login" type="submit">
            Login
          </button>
          <a class="btn btn-default btn-lg btn-register" href="/signup">
            Register
          </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
