<div class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Jelou</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/chat')}"><a href="/chat">Chat</a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/profile')}"><a href="/profile">Profile</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>

        <li ng-show="isLoggedIn()">
          <a href="/mail"><i class="fa fa-envelope-o"></i></a>
        </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <!--li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li-->
        <li class="dropdown" ng-show="isLoggedIn()">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            Hello {{ getCurrentUser().username }} <span class="caret"></span>
          </a>

          <ul class="dropdown-menu dropdown-menu-light">
            
            <li>
              <div class="navbar-login">
                <div class="row">

                  <div class="col-xs-4">
                    <p class="text-center">
                      <span ng-if="!getCurrentUser().profileThumb" class="glyphicon glyphicon-user icon-size"></span>
                      <img class="img-icon-size img-rounded" ng-if="getCurrentUser().profileThumb" ng-src="{{getCurrentUser().profileThumb}}" alt="">
                    </p>
                  </div>
                  <div class="col-xs-8">
                    <p class="text-left"><strong>{{ getCurrentUser().username }}</strong></p>
                    <p class="text-left small">{{ getCurrentUser().email }}</p>
                    <p class="text-left">
                      <a href="/profile" class="btn btn-primary btn-block btn-sm">View Profile</a>
                    </p>
                  </div>

                </div>
              </div>
            </li>

            <li class="divider"></li>

            <li>
              <div class="navbar-login navbar-login-session">
                <div class="row">
                  <div class="col-xs-12">
                    <p>
                      <a href="" class="btn btn-danger btn-block" ng-click="logout()">Logout</a>
                    </p>
                  </div>
                </div>
              </div>
            </li>

          </ul>

        </li>

      </ul>
    </div>
  </div>
</div>
