@media (min-width: 768px) { 
    .navbar-login
    {
    width: 305px;
    }
}

.navbar-login
{
    padding: 10px;
    padding-bottom: 0px;
    color: #fff;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    color: #fff;
}

.icon-size
{
    font-size: 87px;
}

.img-icon-size
{
	height: 87px;
	width: 87px;
}

/*colores del minimenu*/
/* #37BC9B verde barra */
/* #48CFAD verde barra selected */
/* #F5F7FA casi blanco como fondo "COLOR TEXTO" */
/* #E6E9ED grisecito --> usar "COLOR TEXTO" */
/* #36D7B7 turquesa */ 
/* #4D8FAC SKY COLOR */

ul.dropdown-menu.dropdown-menu-light
{
    background-color: #E6E9ED;
}

/* color texto */

ul.dropdown-menu.dropdown-menu-light p {
    color: #434a54;
}
