    .thing-form {
        margin: 20px 0;
    }

    #banner {
        border-bottom: none;
    }

    #banner h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }

    .hero-unit {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 30px 15px;
        color: #F5F5F5;
        text-align: center;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        background: #48CFAD;
        height: 100vh;
    }

    .footer {
        text-align: center;
        padding: 30px 0;
        margin-top: 70px;
        border-top: 1px solid #E5E5E5;
        color: #F5F5F5;
    }

    ul.nav.nav-pills.nav-stacked.col-md-4.col-lg-4.col-sm-6{
        margin-top: 1px;
        margin-bottom: 1px;
    }
