<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container container-margin">
	<div class="col-md-12">
		<h1>Personal Profile
			<button ng-hide="formActive" class="btn btn-default pull-right" ng-click="activateForm()">
				<span class="glyphicon glyphicon-pencil"></span>
			</button>
			<div ng-show="formActive" class="btn-group pull-right">
				<button class="btn btn-default"  ng-click="cancelChanges()">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				<button class="btn btn-default" ng-click="submitChanges()">
					<span class="glyphicon glyphicon-floppy-disk"></span>
				</button>			
			</div>
		</h1>
		<div class="col-sm-4">
			<p class="text-center">
				<img ng-if="profile.profileImg" ng-src="{{profile.profileImg}}" alt="" class="img img-responsive img-thumbnail img-fixed-height">
				<img ng-if="!profile.profileImg" ng-src="assets/images/no_image.png" alt="" class="img img-responsive img-thumbnail img-fixed-height">
			</p>
			<p>
				<button ng-hide="editProf" class="btn btn-default btn-block" ng-click="editProf = true">Change Profile Image</button>
			</p>
			<div ng-show="editProf">
				<div ng-hide="uploading">
					<p>
						<button class="btn btn-warning btn-block" ng-click="editProf = false">Cancel</button>
					</p>
					<h5 class="text-center">Drag New Image Here <span class="glyphicon glyphicon-arrow-down"></span></h5>
					<div ng-file-drop ng-file-select ng-model="file" class="alert alert-info alert-pointer" drag-over-class="drop-alert" ng-multiple="false" allow-dir="false" accept=".jpg,.png,.gif">
						<h3 class="text-center"><span class="glyphicon glyphicon-download-alt"></span></h3>
						<p class="text-center">Click or Drop Images here</p>
					</div>
					<div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
				</div>
				<div class="progress" ng-show="showProgress === true">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuamax="100" style="width: {{progress}}%;"><strong>{{progress}}%</strong></div>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
				
			<div class="list-group">
				<div class="list-group-item">
					<h4 class="list-group-item-heading">Name</h4>
					<p ng-hide="formActive" class="list-group-item-text">{{profile.name}}</p>
					<p ng-show="formActive" class="list-group-item-text"><input type="text" class="form-control input-sm" ng-model="editedProfile.name"></p>
				</div>
				<div class="list-group-item">
					<h4 class="list-group-item-heading">Lastname</h4>
					<p ng-hide="formActive" class="list-group-item-text">{{profile.lastname}}</p>
					<p ng-show="formActive" class="list-group-item-text"><input type="text" class="form-control input-sm" ng-model="editedProfile.lastname"></p>
				</div>
				<div class="list-group-item">
					<h4 class="list-group-item-heading">Birthday</h4>
					<p ng-hide="formActive" class="list-group-item-text">{{profile.birthday | date}}</p>
					<p ng-show="formActive" class="list-group-item-text"><input type="date" class="form-control input-sm" ng-model="editedProfile.birthday"></p>
				</div>
				<div class="list-group-item">
					<h4 class="list-group-item-heading">Country</h4>
					<p ng-hide="formActive" class="list-group-item-text">{{profile.country}}</p>
					<p ng-show="formActive" class="list-group-item-text"><input type="text" class="form-control input-sm" ng-model="editedProfile.country"></p>
				</div>
				<div class="list-group-item">
					<h4 class="list-group-item-heading">Language</h4>
					<p ng-hide="formActive" class="list-group-item-text">{{profile.language}}</p>
					<p ng-show="formActive" class="list-group-item-text"><input type="text" class="form-control input-sm" ng-model="editedProfile.language"></p>
				</div>
			</div>
		</div>
	</div>
</div>