.alert-pointer {
	cursor: pointer;
	padding-top: 40px;
	padding-bottom: 40px;
}

.alert-pointer p {
	cursor: pointer;
}

/* basicamente union de alert y alert-success */
.drop-alert {
	background-color: #B9DF90;
	border: #A0D468;
	color: #3C763D;
	padding: 40px 15px;
	margin-bottom: 20px;
	border-radius: 4px;
	cursor: pointer;
}

.drop-alert p {
	cursor: pointer;
}

.img-fixed-height {
	max-height: 277px;
}