<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container container-margin">
	<div class="page-header">
		<h1>Chat Room</h1>
	</div>
	<div id="content" class="row">
		<div class="col-md-4">
			

			<!-- See the other contact list
				
			<ul class="list-group" >
				<li class="list-group-item" ng-repeat="us in usersConnected">
					<div class="col-xs-12 col-sm-3">
                            <img  class="img-responsive img-round" ng-src="{{us.profileThumb}}" alt=""/>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                    	<span class="name">{{us.name}}  {{us.lastname}}</span><br/>
                    </div>
                    	
					
					<div class="clearfix"></div>
				</li>
				
			</ul> 

			-->


			<!-- bootsnipp testing -->

			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Users connected</strong>
				</div>

				<ul class="list-group" id="contact-list">
					<li class="list-group-item" ng-repeat="us in usersConnected">
						<div class="col-xs-3">
							<img ng-src="{{us.profileThumb}}" alt="{{us.name}} {{us.lastname}}" class="img-responsive img-circle">
						</div>
						<div class="col-xs-9">
							<p><strong>{{us.name}} {{us.lastname}}</strong></p>
							<p>
								<span class="glyphicon glyphicon-map-marker text-muted" data-toggle="tooltip" title="{{us.country}}"><span class="text-muted"> {{us.country}}</span></span>
								&nbsp;
								<span class="glyphicon glyphicon-user text-muted" data-toggle="tooltip" title="{{us.username}}"><span class="text-muted"> {{us.username}}</span></span>
							</p>
						</div>
						<div class="clearfix"></div>
					</li>
				</ul>
			</div>

			<!-- end bootsnip testing -->


		</div>
		
		<div id="chatContent" class="col-md-8">

			<div class="panel panel-info">
				<div class="panel-heading">Chat</div>
				<div id="chatCanvas" class="panel-body">
						<!-- ng-class="{'own' : mje.user._id === getCurrentUser._id} -->

					<div ng-hide="hideBtnMoreMessages" class="text-center">	
					<a class="btn btn-primary" ng-click="moreMessages()" href="" id="button-more-messages">
						<i class="fa fa-plus-square"></i> More Messages {{mm_timesClicked}}
					</a>
					</div>
					<div ng-repeat="m in chatMSG | orderBy:'-date':true"  >
			<!-- 	<div ng-repeat="m in chatMSG"  > -->
						<div ng-class="{'roundMsgOwn':m.author._id===getCurrentUser()._id,'roundMsg':m.author._id!=getCurrentUser()._id}">
							<span class="username"><strong>{{m.author.username}} </strong></span>
							<div class="chatBubble-messageContent">
							<p>{{m.msg}}</p>	
							</div>
							<div class="dateMsg">
								<span >{{m.date | date:'HH:mm'}}</span>

							</div>
							
						</div>
						
					</div>
					<div ng-show="statusMessage" class="infoMessage text-left">	
						<i class="fa fa-pencil"> {{statusMsgInfo}}</i>
						
					</div>
				</div>
			</div>

			<form name="chatForm" id="sendMessage" ng-submit="send()">
				<div class="form-group">
					<div class="input-group">
						<input type="text"  class="form-control" placeholder="Write message here" ng-model="msg" required maxlength="200" ng-keypress="writing()">
						<span class="input-group-btn">
							<button ng-disabled="chatForm.$invalid" type="submit" class="btn btn-primary">Send message</button>
					    </span>
   					</div>
				</div>
			</form>

		</div>
		
	</div>
</div>
