
@media (min-width: 768px) {

	#chatCanvas{
		background-color:#EBF5F0;
		/*height: 600px;*/
		height: calc(100vh - 303px);
		overflow-y:auto;
		/*border-radius: 20px;*/
	}
}

@media (max-width: 767px) {

	#chatCanvas{
		background-color:#EBF5F0;
		/*height: 600px;*/
		height: calc(100vh - 170px);
		overflow-y:auto;
		/*border-radius: 20px;*/
	}
}

.roundMsgOwn{
	border-radius:8px;
	margin-top:10px;
	margin-bottom:10px;
	width: 80%;
	background-color:rgba(107, 214, 215, 0.30);
	padding:10px;
	margin-left: auto;
	margin-right: 0px;
-webkit-box-shadow: 0px 1px 0.1px 0px rgba(194,194,194,1);
-moz-box-shadow: 0px 1px 0.1px 0px rgba(194,194,194,1);
box-shadow: 0px 1px 0.1px 0px rgba(194,194,194,1);
}

.roundMsg{
	border-radius:8px;
	margin-top:10px;
	margin-bottom:10px;
	width: 80%;
	background-color:rgba(107, 214, 215, 0.15);
	padding:10px;
-webkit-box-shadow: 0px 1px 0.1px 0px rgba(194,194,194,1);
-moz-box-shadow: 0px 1px 0.1px 0px rgba(194,194,194,1);
box-shadow: 0px 1px 0.1px 0px rgba(194,194,194,1);
	
	
}
.chatBubble-messageContent{
	color: #02574A;
	margin-left: 5%;
	word-wrap:break-word;
}

.username{
	text-transform: capitalize;
	color: #525348;
}

.dateMsg{
	text-align: right;
	width: 100%;
	font-size: x-small;
	color: #7B7E6D;
}

.btn-Centrado{
	margin-right: auto;
	margin-left: auto;
}

.infoMessage{
	font-size: small;
	color: #7B7E6D;
}