<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container container-margin">
	<div class="col-md-12">
		<h1>User Profile</h1>
		<div class="col-sm-4">
			<p class="text-center"><img ng-if="profile.profileImg" ng-src="{{profile.profileImg}}" alt="" class="img img-responsive img-thumbnail img-fixed-height">
			<img ng-if="!profile.profileImg" ng-src="assets/images/no_image.png" alt="" class="img img-responsive img-thumbnail img-fixed-height"></p>
		</div>
		<div class="col-sm-8">
			<div class="list-group">
				<div class="list-group-item">
					<h4 class="list-group-item-heading">Name</h4>
					<p class="list-group-item-text">{{profile.name}}</p>
				</div>
				<div class="list-group-item">
					<h4 class="list-group-item-heading">Lastname</h4>
					<p class="list-group-item-text">{{profile.lastname}}</p>
				</div>
				<div class="list-group-item">
					<h4 class="list-group-item-heading">Birthday</h4>
					<p class="list-group-item-text">{{profile.birthday | date}}</p>
				</div>
				<div class="list-group-item">
					<h4 class="list-group-item-heading">Country</h4>
					<p class="list-group-item-text">{{profile.country}}</p>
				</div>
				<div class="list-group-item">
					<h4 class="list-group-item-heading">Language</h4>
					<p class="list-group-item-text">{{profile.language}}</p>
				</div>
			</div>
		</div>
	</div>
</div>